<div class="row">
	<div class="col-md-12">
		<div class="sidenav">
			<button class="menubtn">
				<a [routerLink]="['/user-dashboard']"> <i class="fas fa-home"
					style="margin-right: 10px"> </i> Dashboard
				</a>
			</button>
			<button type="button" class="menubtn" data-toggle="collapsebtn"
				data-target="#account" (click)="accountcollapse()">
				<i class="fas fa-user" style="margin-right: 15px"></i> Account
			</button>
			
			
			<button type="button" class="menubtn" data-toggle="collapsebtn"
				data-target="#products" (click)="userscollapse()">
				<i class="fas fa-users" style="margin-right: 15px"></i>Products
			</button>
			
			<div class="collapsebtn" id="products" *ngIf="isUserCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/user-dashboard/products']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Products </a>
                </button>
            </div>
            
            <button type="button" class="menubtn" data-toggle="collapsebtn"
				data-target="#excel" (click)="excelcollapse()">
				<i class="fas fa-users" style="margin-right: 15px"></i>Import Excel
			</button>
			
			<div class="collapsebtn" id="excel" *ngIf="isExcelCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/user-dashboard/excel']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> file .xlsx </a>
                </button>
            </div>


			<button class="menubtn" (click)="logout()">
				<i class="fas fa-sign-out-alt" style="margin-right: 15px"></i>Logout
			</button>
		</div>
	</div>
</div>