<div class="container">

	<p>/Users/lorenzocalarota/Desktop/contrader/TheImporter.xlsx</p>
  	
	<input id="dir" name="dir" placeholder=".xlsx directory" [(ngModel)]="excel.directory">
	<button (click)="preinsert(excel.directory)">Insert</button>
	
	
	
	
	
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table *ngIf="preview.titles" align ="left">
        
       		<tr>
        		<th *ngFor="let title of preview.titles">
            		<input [(ngModel)] ="title">
            		<button >Insert</button>
        		</th>
        	</tr>
        
        
       		<tr>
        		<td *ngFor="let param of preview.line1">
            		<input [(ngModel)] ="param">
        		</td>
        	</tr>
        	<tr>
        		<td *ngFor="let param of preview.line2">
            		<input [(ngModel)] ="param">
        		</td>
        	</tr>
        	<tr>
        		<td *ngFor="let param of preview.line3">
            		<input [(ngModel)] ="param">
        		</td>
        	</tr>
        	<tr>
        		<td *ngFor="let param of preview.line4">
            		<input [(ngModel)] ="param">
        		</td>
        	</tr>
        
        
	</table>
    </div>
    <div class="col-md-1">

    </div>
  </div>

	
	
	
	
	
</div>