<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <img src="../../assets/logo.svg" alt="logo">
    </div>
    <div class="col-md-5">
        <p>Please insert username {{validuser}}</p>
        <div class="form-group">
          <input class="form-control" type="text" id="user"  placeholder="Username"  (change)="checkUser()">
        </div>
        <p>Please insert e-mail {{email}}</p>
        <div class="form-group">
          <input class="form-control" type="text" id="e-mail"  placeholder="e-mail"  (change)="checkEmail()">
        </div>  
        <p>Please insert password {{lenght}}</p>
        <div class="form-group">
          <input class="form-control" type="password" id="pass1"  placeholder="password"  (keyup)="checkLenght()">
        </div>     
        <p>repete password {{checked}}</p>
        <div class="form-group">
          <input class="form-control" type="password" id="pass2"  placeholder="password"  (change)="checkPass()">
        </div>
        <button  (click)="singup()">Sign Up</button>
    </div>
  </div>
</div>