      <div class="container">
        <div class="form-group">
            <label for="power">Username</label>
            <select [(ngModel)]="selectedOption" class="form-control" id="power" required >
              <option *ngFor="let pow of UserList" [value]="pow.id">{{pow.login}}</option>
            </select>
        </div>
          <button type="submit" class="btn btn-success" (click)="press()">Submit</button>
          
          
          
          <div *ngIf="productList[0]">
    <br>
    <br>
    <div>prodotti inseriti: <input disabled="disabled" [(ngModel)]="resultsSize"> </div>
    <br>
    <div>
      <button *ngFor="let number of pages; let i=index" (click)="getPage(i)">{{i}}</button>
    </div>
    <table>
        <tr>
          <th>
            product name
          </th>
          <th>
            price
          </th>
          <th>
            brand
          </th>
          <th>
            description
          </th>
        </tr>
        <tr *ngFor="let product of subList">
          <td>
            <input disabled="disabled" [(ngModel)]="product.name">
          </td>
          <td>
            <input disabled="disabled" type=number [(ngModel)]="product.price">
          </td>
          <td>
            <input disabled="disabled" [(ngModel)]="product.brand">
          </td>
          <td>
            <input  disabled="disabled" [(ngModel)]="product.description">
          </td>
        </tr>
        
      </table>
    
    </div>
	
          
          
          
              
</div>